body {
  background-image: url("./images/pixel-heart.png");
  font-family: "Prompt", sans-serif;
}

.container {
  background-color: lightskyblue;
  border: 2px solid lightslategrey;
}

#matchImg {
  width: 100%;
}

#footer {
  margin-top: 80px;
  text-align: center;
  padding-bottom: 20px;
  color: cornsilk;
}

#footer:hover {
  transform: scale(1.09);
  color: slategrey;
}

/* #footerSurvey {
  text-align: center;
  padding-bottom: 20px;
  color: slategrey;
} */

.jumbotron {
  text-align: center;
  background-color: lightskyblue;
  color: cornsilk;
  margin-top: 100px;
}

#deploy-button {
  background-color: lightcoral;
  color: cornsilk;
  border: 2px solid lightslategrey;
  cursor: pointer;
  margin-top: 50px;
}

#deploy-button:hover {
  transform: scale(1.25);
  background-color: orangered;
}

#submit {
  margin-top: 40px;
  background-color: lightcoral;
  color: cornsilk;
  border: 2px solid lightslategrey;
  cursor: pointer;
}

#submit:hover {
  transform: scale(1.0175);
  background-color: orangered;
}
