body {
  background-image: url("./images/pixel-heart.png");
  font-family: "Prompt", sans-serif;
}

.container {
  background-color: lightskyblue;
  border: 2px solid lightslategrey;
}

#matchImg {
  width: 100%;
}

a {
  color: lightcoral;
  margin-top: 200px;
  text-align: center;
}

a:hover {
  /* transform: scale(1.09); */
  color: orangered;
  text-align: center;
}
.copyright {
  text-align: center;
  color: lightcoral;
  font-size: 13px;
  margin-bottom: 17px;
}

#footer {
  text-align: center;
  color: lightcoral;
  margin-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: lightskyblue;
  color: cornsilk;
  margin-top: 100px;
  margin-bottom: 80px;
}

#deploy-button {
  background-color: lightcoral;
  color: cornsilk;
  border: 2px solid lightslategrey;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 150px;
}

#deploy-button:hover {
  transform: scale(1.25);
  background-color: orangered;
}

#submit {
  margin-top: 40px;
  background-color: lightcoral;
  color: cornsilk;
  border: 2px solid lightslategrey;
  cursor: pointer;
}

#submit:hover {
  transform: scale(1.0175);
  background-color: orangered;
}
